@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    background: url('../img/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 60px; /* Ajusta este valor según la altura de tu navbar */
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: transparent; /* Mantén el fondo transparente */
    backdrop-filter: blur(10px); /* Aplica el efecto de desenfoque */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo{
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

#check {
    display: none; 
}

.icons {
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#menu-icon {
    display: block;
}

#close-icon {
    display: none;
}

.icons i {
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    #check {
        display: none;
    }

    .icons {
        display: block;
    }

    #menu-icon {
        display: block;
    }

    #check:checked ~ .navbar {
        display: block;
        width: 200px;
        position: fixed;
        top: 60px;
        right: 20px;
        background: rgba(0,0,0,.5);
        backdrop-filter: blur(5px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        z-index: 99;
    }

    .navbar a {
        display: block;
        font-size: 1.5rem;
        color: #fff;
        text-decoration: none;
        padding: 20px;
        text-align: center;
    }
    .header .navbar {
        display: none;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px; /* Ajusta este valor según la altura de tu navbar */
}

h2 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    color: white;
    line-height: 1.6;
    margin-bottom: 20px;
}

.team-member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.team-member .text {
    flex: 1;
    margin-right: 20px; /* Añade un margen a la derecha del texto para separarlo de la imagen */
}

.team-member .image img {
    max-width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
    max-height: 100px;
    border-radius: 50%; /* Hace que la imagen sea circular */
}

.mission, .vision {
    margin-top: 40px;
}

.mission h2, .vision h2 {
    margin-top: 20px;
}

.card {
    margin-top: 40px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2); /* Cambia el color de fondo a un blanco semi-transparente */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px); /* Aplica el efecto de desenfoque */
    transition: transform 0.3s ease-in-out;
}

.about-section.card {
    margin-top: 40px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    backdrop-filter: blur(30px); /* Aplica el efecto de desenfoque */
    z-index: 1; /* Asegura que el card esté debajo del navbar */
}
