<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dispositivo IoT</title>
<link rel="stylesheet" href="../../static/css/appStyle.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <a href="" class="logo">Secufy</a>
        <input type="checkbox" id="check" style="display: none;">
        <label for="check" class="icons">
            <i class='bx bx-menu-alt-right' id="menu-icon"></i>
        </label>
        <nav class="navbar">
            <a href="../../index.html">Inicio</a>
            <a href="../home/about.html">Nosotros</a>
            <a href="../home/contact.html">Contacto</a>
        </nav>
    </header>

    <div class="card-container">
        <div class="row">
            <div class="card">
                <h2>Soluciones IoT del proyecto</h2>
                <p>Sensores y Cámaras Integrados: Implementación y entrega de sensores de movimiento y cámaras de alta calidad seleccionados para el sistema de seguridad.</p>
                <p>Circuito Eficiente: Desarrollo y entrega de un circuito eficiente que permita la integración sin conflictos de los sensores y cámaras.</p>
                <p>Sistema de Alarmas: Integración y entrega de un sistema de alarmas que se active en tiempo real ante detecciones de movimientos no identificados.</p>
                <p>Respuesta Rápida: Mecanismos implementados para permitir la respuesta rápida y eficiente, incluyendo la intervención humana en situaciones críticas.</p>
            </div>
            <div class="card">
                <h2>Desarrollo del Sistema de Sensores y Cámaras</h2>
                <p>Diseñar y desarrollar un circuito que permita la integración eficiente de los sensores de movimiento y cámaras en un sistema de seguridad.</p>
                <p>Investigar y seleccionar sensores de movimiento, cámaras de buena calidad y tecnología para su implementación en el proyecto.</p>
                <p>Implementar algoritmos de procesamiento de imágenes para la detección precisa de eventos de seguridad, minimizando falsos positivos y optimizando el rendimiento del sistema.</p>
            </div>
            <div class="card">
                <h2>Diseño y desarrollo de Sistemas de Alarmas</h2>
                <p>Integrar un sistema de alarmas que se active en tiempo real ante la detección de movimientos no identificados o comportamientos sospechosos.</p>
                <p>Configurar opciones de notificación, como mensajes de texto, correos electrónicos o notificaciones push, para informar a los usuarios relevantes sobre eventos de seguridad.</p>
                <p>Implementar un mecanismo de respuesta rápida y eficiente para permitir la verificación y, si es necesario la intervención humana en situaciones críticas.</p>
            </div>
        </div>

        <div class="row">
            <div class="card">
                <h2>Hardware</h2>
                <p>Cámara</p>
                <img src="../../static/img/cam.png" alt="ESP32-CAM-MB">
                <p>Incorpora una cámara eficiente, una ESP32-CAM-MB modelo AI THINKER.</p>
            </div>
            <div class="card">
                <h2>Hardware</h2>
                <p>Sensor de Movimiento</p>
                <img src="../../static/img/pir.png" alt="Sensor PIR">
                <p>Incorpora sensor de movimiento PIR (infrarrojos pasivos) para detectar movimientos.</p>
            </div>
        </div>

        <div class="row">
            <div class="card">
                <h2>Software</h2>
                <p>Arduino IDE</p>
                <img src="../../static/img/ard.png" alt="ESP32-CAM-MB">
                <p>Escribe, compila y carga fácilmente código en el microcontrolador para controlar su funcionalidad, 
                    incluyendo la captura y transmisión de imágenes a través de la cámara integrada.</p>
            </div>
            <div class="card">
                <h2>Plataforma</h2>
                <p> Firebase</p>
                <img src="../../static/img/fire.png" alt="Sensor PIR">
                <p>Firebase Realtime Database: Base de datos en tiempo real para sincronización de datos en tiempo real entre los usuarios y el dispositivo.</p>
                <p>Firebase Cloud Storage: Almacenamiento escalable en la nube para el contenido multimedia.</p>
            </div>
        </div>
        
    </div>
</body>
</html>
