<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>App Móvil</title>
<link rel="stylesheet" href="../../static/css/appStyle.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <a href="" class="logo">Secufy</a>
        <input type="checkbox" id="check" style="display: none;">
        <label for="check" class="icons">
            <i class='bx bx-menu-alt-right' id="menu-icon"></i>
        </label>
        <nav class="navbar">
            <a href="../../index.html">Inicio</a>
            <a href="../home/about.html">Nosotros</a>
            <a href="../home/contact.html">Contacto</a>
        </nav>
    </header>

    <div class="card-container">
        <div class="row">
        <div class="card">
            <h2>Interfaz Intuitiva</h2>
            <p>Diseño de interfaz de usuario amigable y atractiva para facilitar la interacción del usuario.</p>
        </div>
        <div class="card">
            <h2>Monitoreo en Tiempo Real</h2>
            <p>Funcionalidad que permite a los usuarios visualizar en tiempo real las imágenes capturadas por las cámaras del sistema de seguridad.</p>
        </div>
        <div class="card">
            <h2>Control Remoto</h2>
            <p>Capacidades de activación y desactivación del sistema de seguridad desde la aplicación móvil para una gestión conveniente.</p>
        </div>
        <div class="card">
            <h2>Registro de Eventos</h2>
            <p>Se incluirá un registro detallado de eventos de seguridad para que los usuarios revisen la actividad pasada.</p>
        </div>
        <div class="card">
            <h3>Seguridad de la Aplicación</h3>
            <p>Implementación de medidas de cifrado y autenticación para garantizar la seguridad y privacidad de la información.</p>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <h2>Software</h2>
            <p>Flutter</p>
            <img src="../../static/img/flu.png" alt="ESP32-CAM-MB">
            <p>Escribe, compila y carga fácilmente código en el microcontrolador para controlar su funcionalidad, 
                incluyendo la captura y transmisión de imágenes a través de la cámara integrada.</p>
        </div>
        <div class="card">
            <h2>Plataforma</h2>
            <p> Firebase</p>
            <img src="../../static/img/fire.png" alt="Sensor PIR">
            <p>Framework de desarrollo de aplicaciones multiplataforma, creado por Google, que permite construir interfaces de usuario 
                atractivas y fluidas de manera rápida y con un solo código base.</p>
        </div>
    </div>

</div>   

</body>
</html>
